@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Work%20Sans");
@import url("https://fonts.googleapis.com/css?family=Source%20Code%20Pro");

body {
    background-color: rgb(228, 221, 221);
}

.tt {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

#youHaveNo {
    font-family: 'Work Sans', sans-serif;
    display: none;
}

.dft-group-btn {
    text-align: left;
    background-color: white;
    height: 55px;
    cursor: pointer !important;
    font-family: 'Work Sans', sans-serif;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 50px / 50px;
    transition: .55s;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}

.dft-group-btn:hover {
    box-shadow: 2.9px 5.8px 5.8px hsl(0deg 0% 0% / 0.41);
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    padding-right: 55px;
}

.g-title {
    font-weight: 600;
}

.topbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 8%;
    background-color: white;
}

.search {
    position: absolute;
    width: 85%;
    background-color: rgb(197, 197, 197);
    height: 55px;
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    padding-left: 25px;
    outline: 0;
    transition: 1s;
    border-radius: 0px / 0px;
    color: black;
    font-family: 'Source Code Pro', sans-serif;
    max-width: 85%;
}

.search-place {
    font-family: 'Source Code Pro', sans-serif;
    opacity: 0.5;
}

.search:focus {
    border-radius: 25px / 25px;
}