@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Work%20Sans");
@import url("https://fonts.googleapis.com/css?family=Source%20Code%20Pro");

body {
    background-color: rgb(228, 221, 221);
}

.tt {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Work Sans', sans-serif;
}