@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Work%20Sans");
@import url("https://fonts.googleapis.com/css?family=Source%20Code%20Pro");

body {
    background-color: rgb(228, 221, 221);
}

.postContainer {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 85%;
    width: 45%;
    background-color: white;
    border-radius: 3.5px;
    padding-left: 25px;
}

#postTitle {
    font-family: 'Montserrat', sans-serif;
}

#postBody {
    font-family: 'Work Sans', sans-serif;
}